#cards {
  /* 軸row */
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  /* 卡片在容器裡的排版 */
  /* flex-basis(比例) flxe-grow(內部空間)(加權比例) flxe-shirnk(收縮) */
  flex: 7% 1 1;
  /* 依視窗的寬度等比例變化 8% */
  height: 8vw;
  border: 2px solid #e0e0e0;
  /* 卡片內部元素的排版 */
  display: flex;
  /* 主要軸 main axis v先上下 再左右 */
  flex-direction: column;
  /* 讓元素聚集在中間，且保持均分的間隔 */
  justify-content: space-around;
  margin: 2px;
}

.card img {
  max-width: 30%;
  /* 交叉軸 先上下 v再左右 */
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  /* border: 1px solid black; */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}
/* 動畫格設定 */
.wrong {
  /* 動畫格名稱 */
  animation-name: wrongAnimation;
  /* 動畫格持續時間 */
  animation-duration: 0.2s;
  /* 跑幾次動畫格 */
  animation-iteration-count: 5;
}
/* 呼叫動畫格 */
/* 起始無動作，結束出現黃色框線 */
@keyframes wrongAnimation {
  to{
    border: 2px solid yellow;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}